*{
    padding: 0px;
    margin: 0px;
    font-family: serif;
    box-sizing: border-box;
}


.h05{height: 50px;}
.h1{height: 100px;}
.h2{height: 200px;}
.h3{height: 300px;}
.h4{height: 400px;}
.h5{height: 500px;}
.h6{height: 600px;}
.h7{height: 700px;}
.h8{height: 800px;}
.h9{height: 900px;}
.h10{height: 1000px;}

.web-color{
    color: #6c747c;
}
.nav_btn{
    border: none;
    background-color: #3a2f1c;
    color: #ebdec8;
    transition: 0.3s;
}
.nav_btn:hover{
    color: #3a2f1c;
    background-color: #ebdec8;
}
.nav_item_color{
    color: #AB8454 !important;
}
.nav_item_color:hover{
    color: #b7a38c !important;
}
.ipt{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #6c747c;
}
.f-btn{
    background-color: #d3d1cf;
    border: none;
}
.footer{
    /* height: 50px; */
    background-color: #d3d1cf;
}
.f-item{
    color:  #6c747c;
}
.center{
    justify-content: center;
    align-items: center;
    display: flex;
}
.font-hero{
    font-size: 35px;
    text-align: center;
    color: #6a747D;
    margin-top: 50px;
}
.font-hero-2{
    font-size: 28px;
    text-align: center;
    color: #6a747D;
    margin-top: 50px;
    font-weight: 200;
}
.card3-ft{
    font-size: 35px;
    margin-top: 10px;
    color: #6a747D;
    margin-bottom: 0px;
}
.card3-ft-sub{
    font-size: 18px;
    color: #6a747D;
    font-weight: 200;
    line-height: 33px;
}
.bg-b{
    background-color: #1C1204;
    color: white;
}
.g-banner{
    background-image: url('./image/JT0714-1014.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.c{
    font-size: 60px;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 300;
}
.ft-section{
    color: #6a747D;
    font-size: 39px;
    font-weight: 300;
}
.ft-sub-sec{
    color: #6a747D;
    font-weight: 200;
    font-size: 20px;
}
.h-1{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
}
.h-2{
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 3px;
}
.s-line{
    height: 2px;
    background-color: #6a747D;
    width: 25%;
    margin-top: 20px;
}
.h-3{
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    margin-top: 25px;
}
.light-fw{ font-weight: 300;}

.h-4{
    font-size: 38px;
    font-weight: 200;
    margin-top: 25px;
    padding-top: 50px;
    padding-left: 50px;
}
  
.s-line-1{
    height: 1.5px;
    background-color: #6a747D;
    width: 30%;
    margin-top: 20px;
    margin-left: 55px;
}
.li-order-im-1{
    font-size: 20px;
    margin-top: 70px;
    margin-left: 50px;
}
.img-1{
    background-image: url('./image/bg-creme-pattern\ 2.jpg');
    width: 100%;
    background-size: cover;
}
.bg-text-cream{
    font-size: 33px;
}
.bg-text-cream-sub{
    font-size: 20px;
}