*{
    padding: 0px;
    margin: 0px;
    font-family: serif;
    box-sizing: border-box;
}

.h05{height: 50px;}
.h1{height: 100px;}
.h2{height: 200px;}
.h3{height: 300px;}
.h4{height: 400px;}
.h5{height: 500px;}
.h6{height: 600px;}
.h7{height: 700px;}
.h8{height: 800px;}
.h9{height: 900px;}
.h10{height: 1000px;}

.web-color{
    color: #6c747c;
}
.nav_btn{
    border: none;
    background-color: #3a2f1c;
    color: #ebdec8;
    transition: 0.3s;
}
.nav_btn:hover{
    color: #3a2f1c;
    background-color: #ebdec8;
}
.nav_item_color{
    color: #AB8454 !important;
}
.nav_item_color:hover{
    color: #b7a38c !important;
}

.gallery_img{
    background-image: url(./images/gallery-header4-scaled-e1607714200521.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.img_outline{
    border: 1px solid black;
}
.gallery_img2{
    background-image: url(./images/gallery-footer3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.line1{
    border: 1px solid #6c747c;
    width: 35%;
}
.ipt{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #6c747c;
}

.f-btn{
    background-color: #d3d1cf;
    border: none;
}
.footer{
    /* height: 50px; */
    background-color: #d3d1cf;
}
.f-item{
    color:  #6c747c;
}